include _mixins

if routes.models.length
	each route, index in routes.models
		section.left-sidebar__block
			.route-block(class='route-block-' + route.get('safetyLevel'))
				.route-block__line
					.route-block__right-side-content-wrap
						input.fn-display-flag(type='checkbox' id='route' + index checked=route.get('display') data-index=index)
						label.route-block__checkbox-label(for='route' + index title='Показати цей маршрут')
					h2.route-block__header.line-markup.line-markup-green Через #{route.get('keyStreet')}
					p
						strong
							+distance(route.get('distance'))
						| . Без пробок #{''}
						+timespan(route.get('timeSpan'))
						| .
				.route-block__line.route-block__more-details-wrap
					button(type='button' data-index=index).fn-display-detailed.route-block__more-details-button Детальніше
				.route-block__line
					.route-block__right-side-content-wrap
						button(type='button' data-index=index).fn-display-accidents-flag.route-block__hide-accident-button
							if route.get('displayAccidents')
								| сховати ДТП
							else
								| показати ДТП
					p.route-block__accident-murkup
						include ./svg/accident-icon.svg
						| За рік
						strong= ' ' + route.get('accidentsCount') + ' '
						| аварії,
						strong= ' ' + route.get('victimsCount') + ' '
						| постраждалих,
						strong= ' ' + route.get('deathsCount') + ' '
						| загиблих
else
	section.left-sidebar__block
		p.left-sidebar__message-block Будь ласка, введіть ще одну адрессу.