include _mixins

mixin arrow(type)
	case type
		when 'forward'
			include ./svg/arrow-forward.svg
		when 'left'
			include ./svg/arrow-left.svg
		when 'right'
			include ./svg/arrow-right.svg
		when 'turn'
			include ./svg/arrow-turn.svg

mixin comment(type)
	case type
		when 'forward'
			|  Рухайтесь прямо по #{''}
		when 'left'
			| Поверніть наліво на #{''}
		when 'right'
			| Поверніть направо на #{''}
		when 'turn'
			| Зробіть розворот на #{''}

section.deployed-route
	h2.deployed-route__header= addresses.first().format()

	.deployed-route__points-wrap
		each point in detailed.get('navigation')
			.deployed-route__point
				.deployed-route__point-name
					+comment(point.type)
					= point.comment
				.deployed-route__point-distance
					+distance(point.distance)
				+arrow(point.type)
	.deployed-route__total-distance
		+distance(detailed.get('distance'))

	h2.deployed-route__header= addresses.last().format()